{% set ratingTranslation = {
    1: 'Super Bad',
    2: 'Kinda Bad',
    3: 'Okay',
    4: 'Good',
    5: 'Excellent'
} %}

<section class="hotel-item js-hotel-item">
    <figure class="hotel-item__image-container">
        {#Since we are not truncating the hotel's name, using longdesc insted of alt#}
        <img src="{{ item.image }}" longdesc="{{ item.name }}"/>
    </figure>
    <section class="hotel-item__details">
        <h2 class="hotel-item__hotel-name">{{ item.name }}</h2>
        <p class="hotel-item__rating">
            <strong itemprop="ratingValue">{{ item.rating.overallLiking }} / 10 </strong>
            {{ ratingTranslation[item.rating.overallLikingIndex] }}
            <small> ({{ item.rating.basedOn }} Reviews)</small>
        </p>

        <div class="hotel-item__footer">
            <div class="hotel-item__deals">
                {% if item.maxPrice != '' %}
                    <dl class="hotel-item__deal hotel-item__deal--high">
                        <dt>{{ item.maxPartner }}</dt>
                        <dd class="hotel-item__price hotel-item__price--high">{{ item.maxPrice }}</dd>
                    </dl>
                {% endif %}

                <dl class="hotel-item__deal hotel-item__deal--best">
                    <dt>{{ item.partner }}</dt>
                    <dd class="hotel-item__price hotel-item__price--best">{{ item.price }}</dd>
                </dl>
            </div>
            <nav class="hotel-item__co">
                <a class="btn btn--regular btn--deal btn--icon-trailing hotel-item__cta">
                    <span class="btn__text">View deal</span>
                    <span role="img" class="icon--light btn__ic btn__ic--cta icon-rtl svg-revenue">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path class="svg-color--primary" fill="none" stroke="#37454d" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M9.5 7l5 5M9.5 17l5-5"></path></svg>
                    </span>
                </a>
            </nav>
        </div>
    </section>
</section>
